<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7hXMYCpKRu4vqZ4bxQJYx_-JjHNFcXBY</string>
	<key>GCM_SENDER_ID</key>
	<string>912392109411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Victoria.Core-Flow</string>
	<key>PROJECT_ID</key>
	<string>pilates-flow-bba80</string>
	<key>STORAGE_BUCKET</key>
	<string>pilates-flow-bba80.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912392109411:ios:4e6db8fa444ca2b610e756</string>
</dict>
</plist>